/* page */

.wrap_page {
    height: 100%;
    font-family: 'Fira Sans';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.space_between {
    justify-content: space-between;
}

.flex_end {
    justify-content: flex-end;
}

.text_center {
    text-align: center;
}

.standart_width {
    width: 20%;
}

.span_color_style {
    color: #03644e;
}

.upper {
    text-transform: uppercase;
}


/* block avatar */

.size_content_avatar {
    width: 8.125rem;
    height: 8.125rem;
}

.size_footer_avatar {
    width: 7.5rem;
    height: 7.5rem;
}

.autor_avatar {
    background: url('../img/logo-page.jpg') center/contain;
    border-radius: 50%;
}


/* wrap content */

.wrap_content {
    width: 80%;
    height: 100%;
    min-width: 900px;
    max-width: 1200px;
    margin: 3.375rem auto;
}

.wrap_content_width-main {
    flex: 1 0;
    background: #fff;
    color: #000;
}


/* block article */

.wrap_content .active_item {
    color: #03644e;
}


/* block namber pages*/

.active_page {
    font-size: 0.9em;
    color: #03644e;
}


/* left side */

.left_side {
    width: 14rem;
}

.block_autor_header {
    text-align: center;
    margin-bottom: 2rem;
}

.autor_avatar_header {
    margin: 0 auto;
}

.autor_avatar {
    margin-bottom: 1rem;
}

.autor_name {
    margin-bottom: .5em;
}

.description_intro {
    line-height: 2em;
    font-weight: 600;
}

.description_autor {
    width: 14rem;
    font-size: .8em;
    line-height: 2em;
    padding-bottom: 2.1rem;
    position: relative;
}

.description_autor::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #03644e;
    position: absolute;
    bottom: 0;
}

.nav_menu {
    padding: 1.5rem 0;
}

.nav_menu a {
    color: #000;
    display: block;
    padding: .7rem 0;
    transition: ease .4s;
}

.nav_menu a:hover,
.nav_menu .active {
    background: #03644e;
    padding-left: 1.5rem;
    color: #fff;
}

.nav_categories {
    padding-top: 1.25rem;
}

.nav_categories a {
    display: block;
    color: #000;
    padding: .7rem 0;
    transition: ease .4s;
}

.nav_categories a:hover {
    color: #03644e;
}

.intro_categories_nav {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.5rem;
    position: relative;
}

.intro_categories_nav::before {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    background: #03644e;
    position: absolute;
    bottom: .4rem;
    left: 0;
}

.intro_categories_nav::after {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    background: #03644e;
    position: absolute;
    bottom: .4rem;
    right: 0;
}


/* main content */

.main {
    width: 36rem;
    padding: 0 2rem;
}

.article__intro {
    font-size: 1.625em;
    line-height: 1.625em;
    font-weight: 600;
    padding-bottom: 1.8rem;
}

.block_article {
    margin-bottom: 4rem;
}

.article__category {
    padding-bottom: 1.3125rem;
    position: relative;
}

.article__category::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #03644e;
    position: absolute;
    bottom: 0;
}

.article__category a {
    display: inline-block;
}

.category__item1 {
    color: #bababa;
    position: relative;
    padding-right: .8125rem;
}

.category__item1::after {
    content: "";
    display: block;
    background: #03644e;
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.category__item2 {
    color: #bababa;
    position: relative;
    padding: 0 .8125rem;
}

.category__item2::after {
    content: "";
    display: block;
    background: #03644e;
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.category__item3 {
    color: #bababa;
    padding-left: .8125rem;
}

.article__block__time {
    color: #bababa;
    padding: 1.3125rem 0 3.25rem;
}

.content__article {
    padding: 1.625rem 0;
    font-weight: 500;
    line-height: 1.75em;
}

.article__block__content a {
    display: block;
    width: 9.375rem;
    color: #000;
    font-weight: 1.1em;
    font-weight: 500;
    text-align: center;
    letter-spacing: .085em;
    padding: 1.1875rem;
    border: 1px solid #03644e;
    border-radius: 5px;
    transition: ease .4s;
}

.article__block__content a:hover {
    background: #03644e;
    color: #fff;
}

.article__date {
    padding-right: 1.375rem;
}

.fa-comments-o,
.fa-calendar {
    color: #03644e;
    padding-right: .5rem;
}

.namber__page {
    margin-bottom: 3rem;
    letter-spacing: .2em;
}

.namber__page a {
    color: #000;
}


/* right side */

.right_side {
    width: 18.75rem;
}

.block_preview {
    width: 18.75rem;
    height: 17.5rem;
    color: #fff;
    letter-spacing: .05em;
}

.size_preview {
    width: 100%;
    height: 17.5rem;
    text-align: center;
    padding-top: 4.625rem;
}

.link_preview {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 auto .9rem;
    transition: ease .4s;
}

.link_preview:hover {
    color: #63f0d0;
    border: 1px solid #63f0d0;
}

.description_preview {
    line-height: 1.5em;
    margin-bottom: .5rem;
}

.preview_time {
    font-size: 1em;
    font-weight: 200;
}

.wrap_preview_1 {
    background: url('../img/block-1.png') no-repeat center/contain;
}

.wrap_preview_2 {
    background: url('../img/block-2.png') no-repeat center/contain;
    margin-top: 3rem;
}

.intro_updates {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
    position: relative;
}

.intro_updates::before {
    content: "";
    display: block;
    width: 4rem;
    height: 1px;
    background: #03644e;
    position: absolute;
    bottom: .4rem;
    left: 0;
}

.intro_updates::after {
    content: "";
    display: block;
    width: 4rem;
    height: 1px;
    background: #03644e;
    position: absolute;
    bottom: .4rem;
    right: 0;
}

.block_link_img {
    width: 55%;
    margin-bottom: 1.5rem;
}

.block_link_img img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.block_link_intro {
    margin-bottom: 1.7rem;
    margin-left: 1rem;
}

.block_link_intro a {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.25em;
    color: #000;
    height: 100%;
}

.updates_link {
    font-size: .8em;
    color: #bababa;
}


/* footer */

.wrap_content_width-footer {
    background: #00120e;
    color: #fff;
}

.wrap_footer {
    width: 80%;
    height: 100%;
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
}

.wrap_footer a {
    color: #fff;
}


/* footer menu */

.block_nav {
    padding: 2rem 0;
    align-items: center;
    position: relative;
}

.block_nav a {
    transition: ease .3s;
}

.block_nav a:hover {
    color: #5b9386;
}

.block_nav::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #5b9386;
    position: absolute;
    bottom: 0;
}

.footer_menu {
    width: 50%;
}

.block_button {
    width: 50%;
}

.btn {
    width: 11rem;
    color: #5b9386;
    font-size: 1.1em;
    background: #00120e;
    padding: .9rem 1.25rem;
    border: 1px solid #5b9386;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    background: #5b9386;
    color: #000;
}

.wrap_footer_content {
    padding: 3rem 0;
    position: relative;
}

.wrap_footer_content::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #5b9386;
    position: absolute;
    bottom: 0;
}

.footer_description_intro {
    padding-top: .5rem;
    line-height: 1.3em;
}

.block_copyright {
    padding: 2rem 0
}

.footer_nav_categories a {
    display: block;
    color: #fff;
    padding: .6rem 0;
    transition: ease .4s;
}

.footer_nav_categories a:hover {
    color: #03644e;
}

.footer_intro_categories,
.footer_intro_updates,
.contact_description {
    letter-spacing: .1em;
    padding-bottom: 1.55rem;
}

.contact__link {
    margin-bottom: 1.875rem;
}

.contact__link a {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid #5b9386;
    border-radius: 3px;
    text-align: center;
    transition: ease .4s;
}

.contact__link a:hover {
    background: #5b9386;
}

.contact__link .fa:hover {
    color: #00120e;
}

.contact__link .fa {
    font-size: 2em;
    padding: .3rem;
}

.intro__email {
    margin-bottom: 1.5rem;
}

.footer_block_link_intro {
    margin-left: 1rem;
    padding: .2rem 0;
}

.footer_block_link_intro a {
    font-size: .75em;
    line-height: 1.2em;
    height: 100%;
}

.footer_block_updates_link {
    margin-bottom: 1rem;
}

.footer_updates_link {
    font-size: .65em;
    color: #404745;
}

.footer_block_link_img img {
    border-radius: 3px;
}